<div>
    <div>
        <form (ngSubmit)="procesar()">
            <div>
                <label for="">
                    Nombre de la pelicula:
                </label>

                <input type="text" placeholder="" name="nombre" class="field" [(ngModel)]="pelicula.nombre">
            </div>

            <div>
                <label for="">
                    Genero:
                </label>

                <input type="text" placeholder="" name="genero" class="field"[(ngModel)]="pelicula.genero">
            </div>

            <div>
                <label for="">
                    Pais:
                </label>

                <input type="text" placeholder="" name="pais" class="field" [(ngModel)]="pelicula.pais">
            </div>

            <button class="btn btn-green">
                Enviar
            </button>
        </form>
            
    </div>
</div>


    




