
    <form (ngSubmit)="procesar()">
        
        <p>Nombre de la pelicula:</p>
        <input type="text" placeholder="" name="nombre" required class="field" [(ngModel)]="pelicula.nombre" > <br>
                
        <p>Genero:</p>
        <input type="text" placeholder="" name="genero" required class="field"[(ngModel)]="pelicula.genero"> <br>
       
        <p>Pais:</p>
        <input type="text" placeholder="" name="pais" required class="field" [(ngModel)]="pelicula.pais"> <br>
        <br>
        <p class="center-content">
            <input type="submit" class="btn btn-green" value="Enviar Datos">
        </p>
        
        
    
    </form>
            


    




